<div id="home">
      <div class="container-fluid">
 
		   
      </div>
     
</div>
<div id="line">
 <div class="container-fluid">
        
		   
      </div>
     </div>

<div class="container-fluid">      
    


    <div id="icone">
	    <div class="row-fluid">       
            <div class="span4" id="1">

                <div class="row-fluid" id="logo1"> 
                <%= image_tag "icon2.png" %>
                </div>

                <div class="row-fluid" id="text1"> 
                hello Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat.
                </div>

            </div>

            <div class="span4" id="2">
             	 <div class="row-fluid" id="logo1"> 
                <%= image_tag "icon4.png" %>
                </div>
                <div class="row-fluid" id="text1"> 
                hello Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat.
                </div>
            </div>

            <div class="span4" id="3">
            	  <div class="row-fluid" id="logo1"> 
            	<%= image_tag "icon3.png" %>
                </div>
                 <div class="row-fluid" id="text1"> 
                hello Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat.
                </div>
            </div>
      </div>
    </div>
  </div>
</div>